# %%
#  Top Topics 

* model: (50t,600,10)
* scale: 125

In [57]:
import pandas as pd 
import numpy as np
from helpers import potus
import glob
import re
import os

import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
import imp
imp.reload(potus)

## (50t,600,10)

Load results for scales 125 and 25.

In [78]:
exp = 'potus_50t_600_10'
scales = [25]
result = potus.gridExpResult(exp, scales)

print(len(result.df))
print(len(result.settings))
display(result.settings)
display(result.df.groupby('Nw').speech.count())

load lda model from /home/azureuser/cloudfiles/code/data/processing/potus/experiment/potus_50t_600_10/lda.model
load bow from  /home/azureuser/cloudfiles/code/data/processing/potus/experiment/potus_50t_600_10/bow.pkl
File exists and is readable
/home/azureuser/cloudfiles/code/data/processing/potus/experiment/potus_50t_600_10/speeches_dfr_potus_50t_600_10_klds_100_100.pkl
/home/azureuser/cloudfiles/code/data/processing/potus/experiment/potus_50t_600_10/speeches_dfr_potus_50t_600_10_klds_125_125.pkl
/home/azureuser/cloudfiles/code/data/processing/potus/experiment/potus_50t_600_10/speeches_dfr_potus_50t_600_10_klds_25_25.pkl
t: 50, Nw: 25, Tw:25
962  before trim
/home/azureuser/cloudfiles/code/data/processing/potus/experiment/potus_50t_600_10/speeches_dfr_potus_50t_600_10_klds_50_50.pkl
/home/azureuser/cloudfiles/code/data/processing/potus/experiment/potus_50t_600_10/speeches_dfr_potus_50t_600_10_klds_75_75.pkl
962
1

,kld_filename,topics,Nw,Tw,path
0,speeches_dfr_potus_50t_600_10_klds_25_25.pkl,50,25,25,/home/azureuser/cloudfiles/code/data/processin...

Nw
25    962
Name: speech, dtype: int64

# Print Top Topics

In [60]:
topics.get_top_topics_from_df(result.model, result.df.iloc[0].probs, ntopics=5, nterms=4)

['53.5% - Topic 04: object principle circumstance fellow_citizen',
 '18.9% - Topic 29: condition service case general',
 '7.2% - Topic 24: heart democracy liberty struggle',
 '6.6% - Topic 21: responsibility principle liberty justice',
 '5.5% - Topic 33: bill constitution provision case']

In [118]:
import numpy as np
from helpers.topics import get_topic

ntopics = 5
result_model = result.model



iloc = 123

df_weigths_matrix = pd.DataFrame()

for idx, r in result.df.iterrows(): 
    speech_topic_probs = r.probs
    speech_id = r.speech_id

    topics_ordered = np.flip(speech_topic_probs.argsort())

    dft =pd.Series(topics_ordered, name='topic').reset_index().rename(columns={'index': 'weight'})
    dft.weight = np.maximum(0,ntopics-dft.weight)
    dft['speech_id'] = speech_id
    
    df_weigths_matrix = df_weigths_matrix.append(dft)

In [119]:
top_topics_by_weight = df_weigths_matrix.groupby('topic').sum('weight').sort_values('weight', ascending=False)
display(top_topics_by_weight)

sum(top_topics_by_weight.weight)

       weight
topic
29       1819
14       1644
2        1136
4         956
44        942
21        766
12        687
24        638
27        595
40        567
23        432
0         422
33        393
31        354
28        281
10        244
3         242
42        232
8         224
19        224
5         192
34        174
38        174
49        172
32        163
16        120
26         91
20         60
43         59
45         52
22         47
39         46
46         43
36         42
17         41
48         35
6          31
18         21
35         18
15         13
47         12
11         10
13          8
1           5
9           3
37          0
7           0
41          0
30          0
25          0

14430